@charset "UTF-8";

body{
    background-color: rgb(180, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(8, 85, 85);
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: rgb(36, 139, 139);
}
.basico {
   color: rgb(36, 139, 139);
   font-weight: bold;

}
.intermediario {
    color: rgb(190, 190, 97);
}
.avancado {
    color: rgb(209, 48, 48);
}